.common
{
  position: relative;

  margin: 1em 0 16px;

  font-weight: bold;
  line-height: 1.4;
}

.primary
{
  font-size: 30px;

  composes: common;
}

.secondary
{
  font-size: 21px;

  composes: common;
}

.tertiary
{
  font-size: 16px;

  composes: common;
}

.quaternary
{
  font-size: 14px;

  composes: common;
}

.quinary
{
  font-size: 12px;

  composes: common;
}

.senary
{
  font-size: 11px;

  composes: common;
}
